[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.28.2"
python-dotenv = "1.0.0"
influxdb-client = "==1.36.1"

[dev-packages]
flake8 = "==6.0.0"

[requires]
python_version = "3.9"